/* Application Styles */
body {
	background-image: url(../imgs/stage_bg.jpg);
	background-repeat: repeat;
}


header{
  background: #000066;
  width: 100%;
  height: 86px;
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
  opacity:0.90;
}


header nav{
  padding:15px 400px;
}

header nav ul li{
    list-style: none;
    display: inline-block;
    float:left;
    padding: 10px;
  }


  a{
    text-decoration:none;
    float: left;
    height: 40px;
    line-height: 40px;
    padding:0 10px;
    margin:0 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #000066;
    font-size: 20px;
    color:#006666;
    font-family: arial, verdana, sans-serif;
  }
  
  a:hover{
    background-color: #006666;
  }
  

header nav ul li:hover{
 background-color:#333;
}

header nav ul li a:visited{
 color:#ccc;
 display:block;
 padding:15px;
}
header nav ul li a:hover{
 color:#ccc;
}
