@charset "utf-8";

/* CSS Document */

.container {
	position: relative;
	width: 530px;
	height: 530px;
	padding: 0px;
	margin: auto;
	left: 0px;
	right: 0px;
	border: 5px solid #19b4cb;
	background-color: white;
}

.event {
	margin: 2px;
}

.event-logo {
	position: relative;
	height: 250px;
	width: 250px;
	padding: 0px;
	margin: 0px;
	border: 5px solid #19d4ae;
	background-color: white;
	z-index: 10
}

.event-logo img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-radius: 10%;
	width: 200px
}

.event-logo[data-pos = "tl"]::after {
	content: "Panache";
	display: block;
	text-align: center;
	font-weight: 700
}

.event-logo[data-pos = "tr"]::after {
	content: "S-PAVe";
	display: block;
	text-align: center;
	font-weight: 700
}

.event-logo[data-pos = "bl"]::after {
	content: "Junkyard";
	display: block;
	text-align: center;
	font-weight: 700
}

.event-logo[data-pos = "br"]::after {
	content: "Vihaan";
	display: block;
	text-align: center;
	font-weight: 700
}

.event-content {
	box-sizing:border-box;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 1.5em;
	width: 100%;
}

.event-content h3 {
	text-align: center;
	margin-bottom: 0.5em;
}

.event-content p {
	text-align: justify
}

.event-content p em {
	display: block;
	text-align: center
}