@charset "utf-8";
/* CSS Document */

.container {
	width: 230px;
	height: 230px;
	padding: 0px;
	margin: auto;
	position: absolute;
	left:0px;
	right:0px;
	border: 5px solid navy;
    background-color: white;
}

.event{
    margin: 2px;
}

.event-logo{
	position:relative;
	height: 100px;
	width: 100px;
	padding: 0px;
	margin: 0px;
	border: 5px solid #FF0004;
    background-color: white;
}

.event-content{
	position:absolute;
	top:0px;
	left:5px;
    padding: 10px;
}
		
